.card-container {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fbfbfb;
  border-radius: 5px;
}

.card-title {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.card-subtitle {
  display: block;
  color: #74798c;
  font-size: 14px;
}
