.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  -webkit-box-shadow: 5px 5px 4px -4px #000000;
  box-shadow: 5px 5px 4px -4px #000000;
  z-index: 2;
}
