.dashboard {
  width: 100%;
  height: 100%;
}

.title-subtitle-container {
  width: 100%;
}

.title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 500;
}

.title > span {
  color: red;
}

.charts-cards-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.charts-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.charts-bottom-container {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.charts-top-container {
  position: relative;
  width: 100%;
  height: 320px;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.35rem;
  background-color: #fbfbfb;
}

.charts-bottom {
  position: relative;
  height: 16rem;
  width: 100%;
  overflow: hidden;
  border-radius: 0.35rem;
}

.cards-container {
  width: calc(20% - 2rem);
  min-width: 200px;
}
